{% extends 'layout.html' %}
{% block content%}
    <div id="home"></div>
    <div class="content_box_content"> 
        <h2> 报销业务费 </h2>       
        <table class="tables">
            <thead>
                <h3>业务费预算</h3>
            </thead>
            <tbody>
                <tr>
                    <th>数目(万元)</th>
                    <th>年份</th>
                </tr>
                <tr>
                    <td>{{ business.total}}</td>
                    <td>{{ business.year}}</td>
                </tr>
            </tbody>
        </table>
        <div class="cleaner"><br/></div>
        <form class="uniform" action="/businessExpense/add/{{ business.id }}/{{ teacher_id }}" method="POST">
            <ul>
                <li>
                    <label>数目:</label>
                    <input name="amount" />
                </li>
                <li><button type="submit">提交</button></li>
            </ul>
        </form>
    <div class="cleaner"></div>

    </div> <!-- end of content box content -->
{% endblock %}
