{% extends 'layout.html' %}
{% block content%}
    <div id="home"></div>
    <div class="content_box_content">            
        <h2>关于这个系统</h2>
        <p>电院经费管理系统是用于电院教务办管理项目经费的系统，由计算机系的李奇平，金鹏，沈梦月三位同学共同开发。
        现在系统还只做到单机版（单个用户使用），如果以后需要多个用户使用可以适当扩展。</p>
        <h2>基本功能</h2>
        <h3>教师管理功能</h3>
        <p>主要用于更新教师的信息，或者在往系统中增加教师和删除教师。</p>
        <h3>项目管理功能</h3>
        <p>主要用于对教师的项目进行管理，包括增加和删除。</p>
        <h3>经费报销功能</h3>
        <p>主要是教师根据项目的经费预算进行报销，只能报销经费预算中已经有的经费。</p>
        <h3>信息查看功能</h3>
        <p>可以查看剩余经费，经费报销明细，既可以看某个教师的信息，也可以看某个系的所有教师信息（用于系主任）或者整个系统的所有
        教师信息（用于系统管理员）。</p>
        <!--<div class="col_w340 float_l"> <a href="http://www.templatemo.com" target="_parent"><img class="image_wrapper" src="images/templatemo_image_01.jpg" alt="Image"></a>-->
            <!--<p><em>Praesent rutrum augue vel felis vehicula vel luctus sapien commodo. Aenean convallis, sem in tempus dictum, lorem urna luctus augue, et tempor justo orci in elit.</em></p>-->
            <!--<p>Feel free to download, edit and use this template for your websites. <a href="http://www.templatemo.com/preview/templatemo_288_green_field" title="Green Field" target="_parent">Green Field</a> is a mini-site with 5 sections within the same long page. Praesent rutrum augue vel felis vehicula vel luctus sapien commodo. Aenean convallis, sem in tempus dictum, lorem urna luctus augue.</p>-->
        <!--</div>-->
        <!--<div class="col_w340 float_r">-->
            <!--<h3>Web Design</h3>-->
            <!--<p>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. Fusce sit amet tristique magna. Praesent rutrum augue vel felis vehicula vel luctus sapien commodo. Aenean convallis, sem in tempus dictum, lorem urna luctus augue, et tempor justo orci in elit.</p>-->
            <!--<div class="cleaner h30"></div>-->
            <!--<h3>New Template</h3>-->
            <!--<p>Phasellus nec hendrerit enim. Aliquam placerat eleifend adipiscing. Nunc fermentum pretium aliquam. Nam dictum leo nec mauris sagittis posuere. Pellentesque ut purus et justo laoreet bibendum eget sed sem. </p>-->
            <!--<p>Cras laoreet, magna a fermentum facilisis, justo neque sollicitudin risus, quis iaculis purus leo id massa. Donec lobortis ipsum nec nisl viverra a gravida dolor euismod.</p>-->
            <!--<p><a href="#portfolio">Explore All Templates</a></p>-->
        <!--</div>-->
        <!--<div class="cleaner h30"></div>-->
        <!--<a class="gototop" href="#top"></a>-->
        <div class="cleaner"></div>
    </div> <!-- end of content box content -->
{% endblock %}
