<!DOCTYPE html>
<html >
    <head>    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>电院经费管理系统</title>
        <meta name="description" content="Luxurious and affordable boarding kennels and cattery in Sheldon, Brisbane. Extra care and attention for your best friend. Call us to make a booking today.">
        <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/static/css/uniform.css">
        <link rel="stylesheet" type="text/css" href="/static/css/ui.theme.css">
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="/static/css/ui.theme.css">
        <script src="/static/js/jquery.min.js" ></script>
        <script src="/static/js/jquery.uniform.min.js" ></script>
        <script src="/static/js/jquery-ui.min.js" ></script>
        <script src="/static/js/jquery.ui.datepicker.js" ></script>
        <script src="/static/js/control.js" ></script>
    </head>
    <body>
        <!--<img src="static/mages/bg.jpg" />-->
        <div id="templatmeo_header">

            <div id="templatemo_menu">
                <ul>
                    <li><a href="/home">首页</a></li>
                    <li><a href="/teacher">教师管理</a></li>
                    <li><a href="/project">项目管理</a></li>
                    <li><a href="/expense">经费报销</a></li>
                    <li class="last"><a href="/record">信息查看</a></li>
                </ul>    	
            </div> <!-- end of templatemo_menu -->
            <div id="site_title">
                <h1><a href="#">电院经费管理系统</a></h1>
            </div>
        </div>

	<div id="templatemo_main">
    	
        <div class="content_box">
            {% block content %}{% endblock %}
        </div> <!-- end of a content box -->
    	
    </div>
    <div id="templatemo_footer">
    
        Copyright © 2048 <a href="http://www.seiee.sjtu.edu.cn/">SEIEE</a> | <a href="http://bjwb.seiee.sjtu.edu.cn/" target="_parent">本科教务办</a> by 李奇平 金鹏 沈梦月</a>
    
    </div>
    </body>
</html>
