{% extends "layout.html" %}
{% block content %}
<div class="content_box_content">
	<form  action="/project/add/device" method="POST">
	<table class="table">
	<h3>添加设备</h3>
	<li>
		<label>设备名称</label>
		<input size=20 type="text" name="name" />
	</li>	
	<li>
		<label >规格&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		<input size=20 type="text" name="specification"/>
	</li>
	<li>
		<label>制造商&nbsp&nbsp&nbsp</label>
		<input size=20 type="text" name="maker"/>
	</li>
	
	<li>
		<label>单价&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		<input size=10 type="text" name="price"/>
	</li>
	<li>
		<label>数量&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		<input size=10 type="text" name="amount"/>
	</li>
	<li>
		<label> 安放位置 </label>
		<input type="text" name="position"/>
	</li>
	<li>
		<label>用途&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		<input type="text" name="usage"/>
	</li>
	<li>
		<label>时间&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
		<select type="text" name="year"  theme="simple">
		{#% for year in years%#}
			<option value="2012}">2012</option>
<option value="2012}">2012</option><option value="2012}">2012</option><option value="2012}">2012</option>
		{#% endfor %#}
		</select>
		
	</li>
	<li>
		<label>是否进口 </label>
		<input type="checkbox" name="is_import"/>
		
	</li>
	<li>
		<button name="submit_add" onclick="subAddDev()">继续添加</button>
		<button name="submit" onclick="subDev()">完成添加</button>
		<script type="text/javascript">
			function subDev(){
				document.form.action="";
				document.form.submit();
			}
			function subAddDev(){
				document.form.action="";
				document.form.submit();
			}
		</script>
	</li>
	</table>
	</form>

	</div>

{% endblock %}
