{% extends 'layout.html' %}
{% block content%}
    <div id="home"></div>
    <div class="content_box_content">           
        {% if error_message %}
        <p class ="error">{{error_message}}</p>
        {% endif %}
        <form action="/account/setPassword" method="POST">
                    <li><label>用户名:</label> {{username}}</li>
        <li><label>老密码:</label> <input type = "password" name = "oldPassword" /></li>
        <li><label>新密码:</label> <input type = "password" name = "newPassword" /></li>
        <button id="modifyPassword" type="submit">提交</button > 
        </form>
    <div class="cleaner"></div>
    </div> <!-- end of content box content -->
{% endblock %}
