/* @override http://shadyacres.local/workspace/stylesheets/base.css */

/* @group Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	line-height: 1.7em; 
	background-color: #293611;
	background-image: url(../images/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a, a:link, a:visited { color: #ea6f0b; font-weight: 700; text-decoration: none; font-size: 11px }
a:hover { text-decoration: underline; }

a.gototop { display: block; clear: both; float: right; width: 70px; height: 20px; background: url(../images/templatemo_gototop.jpg) no-repeat }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#000; }
cite span { color: #000; }
em { color: #000; font-weight: bold }

a, a:link, a:visited { color: #ea6f0b; font-weight: 700; text-decoration: none; font-size: 11px }
a:hover { text-decoration: underline; }

/* @end */






h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 20px; padding: 5px 0 10px; font-weight: 700; border-bottom: 1px solid #626335 }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

/* @group Layout */



/* @group Header */



#templatmeo_header {
	width: 800px;
    margin: auto;
	height: 120px;
	background: url(../images/header.jpg) no-repeat top center
}

/* menu */

#templatemo_menu { clear: both; width: 780px; height: 40px; padding: 0 10px; }
#templatemo_menu ul { padding: 0; margin: 0; list-style: none }
#templatemo_menu ul li { float: left; display: block; width: 118px;
 padding-right: 2px; height: 40px; padding: 0; margin: 0; display: inline; background: url(../images/enu_divider.jpg) no-repeat right center }
 #templatemo_menu .last { background: none }
#templatemo_menu ul li a {
	display: block;
	width: 118px;
	height: 33px;
	padding-top: 7px;
	font-size: 13px;
	color: #333;	
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #000;
	padding-top: 6px;
	height: 34px;
	background: url(../images/menu_hover.jpg) no-repeat top center
}

#site_title { clear: both; width: 760px; height: 40px; padding: 30px 20px }
#site_title h1 { float: left; display: block; width: 500px; margin: 0; padding: 0 }
#site_title h1 a { color: #fff; font-size: 40px; font-weight: 400; outline: none; }
#site_title h1 a:hover { text-decoration: none }
#site_title h1 a span { font-size: 14px }

#templatemo_main {
	clear: both;
	width: 780px;
    margin: auto;
	padding: 0 10px;
	background: #f5f6bc url(../images/main_top.jpg) top center no-repeat
}

.content_box {
	clear: both;
	padding: 40px 0;
	margin-bottom: 30px; 
}


#templatemo_footer {

	clear: both;
    margin:auto;
	width: 760px;
	padding: 20px;
	text-align: center;
	color: #e5efc8;
	background: url(../images/templatemo_footer.jpg) center top no-repeat
}

#templatemo_footer a {
	color: #fff;
    font-size:18px;
}


.tables
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
.tables td, .tables th 
{
font-size:1.2em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}
.tables th 
{
font-size:1.4em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#fff;
}
.tables tr.alt td 
{
color:#000;
background-color:#EAF2D3;
}

